{% extends "AppBundle::Sitio/layout.html.twig" %}

{% block content %}
        <section id="intro">
            <div class="intro-container">
                <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators"></ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item">
                            <div class="carousel-background">
                                <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/002.jpg')}}" alt="">
                            </div>
                             <div class="carousel-container">
                                <p>
                                    <span>Amplias cabañas </span><br>Totalmente equipadas y rodeadas de un gran parque<br>
                                    <a href="#promociones">Ver más</a>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-background">
                                <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/003.jpg')}}" alt="">
                            </div>
                             <div class="carousel-container">
                                <p>
                                    <span>Rodeado de tranquilidad </span><br>A solo 300 metros del mar y dentro del bosque<br>
                                    <a href="#promociones">Ver más</a>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="carousel-background">
                                <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/001.jpg')}}" alt="">
                            </div>
                            <div class="carousel-container">
                                <p>
                                    <span>Nuestra piscina </span><br>Descubierta y climatizada<br>
                                    <a href="#promociones">Ver más</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">  <span class="carousel-control-prev-icon fas fa-angle-left" aria-hidden="true"></span>  <span class="sr-only">Anterior</span></a>
                    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">  <span class="carousel-control-next-icon fas fa-angle-right" aria-hidden="true"></span>  <span class="sr-only">Siguiente</span></a>
                </div>
            </div>
        </section>

        <main id="main">

            {{ render(controller('AppBundle:Default:promociones')) }}            

            <section id="informacion">
                <div class="container">
                    <header class="section-header">
                        <h2>Bienvenidos</h2>
                        <p>Nuestro deseo es brindarles un sitio de alojamiento rodeado de la tranquilidad y vitalidad de un entorno verde y a solo 300 mts del mar</p>
                        <p><b>El Solar del Bosque</b> te brinda una cabaña independiente, amplia y totalmente equipada</p>
                    </header>
                </div>
            </section>

            <section id="complejo">
                <div class="container wow fadeInUp">
                    <header class="section-header">
                        <h2>El Complejo</h2>
                        <p><b>El Solar del Bosque</b> cuenta con cabañas amplias, totalmente equipadas que son independientes, y están rodeadas de un gran parque con distintas variedades de árboles. Tiene piscina descubierta climatizada por paneles solares habilitada desde Octubre a Marzo, cuenta con un solarium y rodeada de un gran médano al resguardo del viento creando un microclima ideal para aquellos días que no podemos disfrutar la playa o el mar.</p>
                    </header>
                    <h3>Servicios</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Desayunos servidos en la cabaña a partir de las 8.30 hs. que consta de:  Medialunas, tostadas para untar con queso untable, mermelada y dulce de leche. Infusiones (café, café con leche, té, mate cocido) y chocolatada</li>
                        <li><i class="fas fa-check-circle"></i> Piscina descubierta climatizada por paneles solares – abierta desde Octubre a Marzo</li>
                        <li><i class="fas fa-check-circle"></i> Solarium</li>
                        <li><i class="fas fa-check-circle"></i> Gran parque</li>
                        <li><i class="fas fa-check-circle"></i> Wi Fi en la cabaña y en todo el Complejo</li>
                        <li><i class="fas fa-check-circle"></i> Mucama</li>
                        <li><i class="fas fa-check-circle"></i> Ropa blanca (sábanas, toallas y toallones para uso exclusivo en la cabaña)</li>
                        <li><i class="fas fa-check-circle"></i> Estacionamiento cubierto con media sombra frente a la cabaña</li>
                        <li><i class="fas fa-check-circle"></i> Atención personalizada</li>
                        <li><i class="fas fa-check-circle"></i> No se admiten cuatriciclos</li>
                        <li><i class="fas fa-check-circle"></i> No se admiten invitados</li>
                        <li><i class="fas fa-check-circle"></i> Conslutar por mascotas pequeñas</li>
                    </ul>
                    <h3>Equipamiento</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Cocina convencional con horno</li>
                        <li><i class="fas fa-check-circle"></i> Vajilla completa</li>
                        <li><i class="fas fa-check-circle"></i> Hogar a leña</li>
                        <li><i class="fas fa-check-circle"></i> Ventiladores de techo y/o de pie</li>
                        <li><i class="fas fa-check-circle"></i> Cunas, bañaderitas y sillitas de comer para bebés</li>
                        <li><i class="fas fa-check-circle"></i> Deck con parrilla individual, con juego de mesa y sillas</li>
                        <li><i class="fas fa-check-circle"></i> Heladera con freezer</li>
                        <li><i class="fas fa-check-circle"></i> Microondas</li>
                        <li><i class="fas fa-check-circle"></i> TV con servicio de cable</li>
                        <li><i class="fas fa-check-circle"></i> Calefacción por tiro balanceado y/o estufas eléctricas</li>
                        <li><i class="fas fa-check-circle"></i> Alarma individual</li>
                        <li><i class="fas fa-check-circle"></i> Black out en dormitorios</li>
                    </ul>
                    {{ render(controller('AppBundle:Default:galeria',{galeria_id: 1})) }}
                </div>
            </section>

            <section id="cabanas">
                <div class="container">
                    <div class="section-header">
                        <h2>Las Cabañas</h2>
                        <p>Seleccione la cabaña que desea para conocer más información</p>
                    </div>
                    <div class="item-cabanas wow fadeInUp">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <figure>
                                    <img src="{{ asset('bundles/app/maquetado/img/item-cabanas/lavanda.jpg')}}" alt="">
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <div class="item-cabanas__content">
                                    <h3>Cabaña <span>Lavanda</span></h3>
                                    <span class="info">
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <span class="info__text">2 pax | 60m2</span>
                                    </span>
                                    <p>Cabaña para 2 personas, en 60m2. <br>Amplios ventanales al parque, hogar a leña</p>
                                    <a href="{{ url('lavanda') }}">Mas informacion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-cabanas wow fadeInUp">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="item-cabanas__content">
                                    <h3>Cabaña <span>Mauri</span></h3>
                                    <span class="info">
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <span class="info__text">2/4 pax | 90m2</span>
                                    </span>
                                    <p>Cabaña hasta 4 personas, en 90m2. <br>Amplio dormitorio principal con ventanales al bosque. Muebles estilo country. Living comedor con hogar a leña. Parrilla con deck individual</p>
                                    <a href="{{ url('mauri') }}">Mas informacion</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <figure>
                                    <img src="{{ asset('bundles/app/maquetado/img/item-cabanas/mauri.jpg')}}" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item-cabanas wow fadeInUp">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <figure>
                                    <img src="{{ asset('bundles/app/maquetado/img/item-cabanas/juani.jpg')}}" alt="">
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <div class="item-cabanas__content">
                                    <h3>Cabaña <span>Juani</span></h3>
                                    <span class="info">
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <span class="info__text">2/4 pax | 90m2</span>
                                    </span>
                                    <p>Cabaña hasta 4 personas, en 90m2. <br>Living comedor con hogar a leña. Entrepiso de madera con grandes ventanales y balcón con vista al living. Parrilla con deck individual</p>
                                    <a href="{{ url('juani') }}">Mas informacion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-cabanas wow fadeInUp">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="item-cabanas__content">
                                    <h3>Cabaña <span>Mora Dulce</span></h3>
                                    <span class="info">
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <span class="info__text">2/4 pax | 55m2</span>
                                    </span>
                                    <p>Dos cabañas individuales de 55m2 cada una. Mora Dulce Planta Baja para 2 a 4 personas. <br>Mora Dulce Superior para 2 a 3 personas</p>
                                    <a href="{{ url('mora-dulce') }}">Mas informacion</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <figure>
                                    <img src="{{ asset('bundles/app/maquetado/img/item-cabanas/mora.jpg')}}" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item-cabanas wow fadeInUp">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <figure>
                                    <img src="{{ asset('bundles/app/maquetado/img/item-cabanas/pauli.jpg')}}" alt="">
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <div class="item-cabanas__content">
                                    <h3>Cabaña <span>Pauli</span></h3>
                                    <span class="info">
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <i class="fas fa-user"></i>
                                        <span class="info__text">4/6 pax | 110m2</span>
                                    </span>
                                    <p>Dormitorio principal con baño en suite, muebles estilo country. Parrilla con deck individual, living comedor con hogar a leña</p>
                                    <a href="{{ url('pauli') }}">Mas informacion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="ubicacion">
                <div class="container">
                    <div class="section-header wow fadeInUp">
                        <h2>Ubicacion</h2>
                        <p><b>El Solar del Bosque</b> se encuentra ubicado en Los Cóndores entre Los Álamos y Las Acacias. <br>A 80 mts. de la rotonda de Mar de las Pampas</p>
                    </div>
                </div>
                <div id="map-container" class="wow fadeInUp"></div>
            </section>

            {% include 'AppBundle:Sitio:formulario_contacto.html.twig' %}

        </main>
{% endblock %}
